@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

/* body {
    margin: 0px;
}

html {
    height: 100%;
} */

.loading_font {
    position: absolute;
    color:white;
    /* outline: rgb(255, 255, 255) solid 5px; */
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    font-size: 25px;
    /* pointer-events: none; */
}

.wrapper {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

@keyframes background-animation {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    background-size: 200%;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    z-index: 6;
}

@media screen and (max-width: 480px) {
    .grid {
        position: absolute;
        width: 100%;
        height: 125%;
        margin-top: 20%;
        display: grid;
        background-size: 200%;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
        z-index: 6;
    }

}

@keyframes logofadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.3;
    }
}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    animation: logofadeIn 1s ease forwards 0.2s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 2px white;
        border-radius: 10px;
        color: white;
    }
    50% {
        box-shadow: 0 0 0 2px rgb(255, 171, 171);
        border-radius: 10px;
        color:rgb(255, 171, 171);
    }

    100% {
        box-shadow: 0 0 0 2px white;
        border-radius: 10px;
        color: white;
    }
    
    
}

.tile {
    position: relative;
    /* outline: 1px solid rgb(0, 0, 0); */
    /* transition: all 0.5s ease-in-out; */
    color: white;
}

.tile::before {
    background-color: rgb(20, 20, 20);
    content: "";
    justify-content: center;
    position: absolute;
    inset: 0.5px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.tile:hover::before {
    display: flex;
    background-color: rgb(20, 20, 20);
    content: "Start";
    justify-content: center;
    position: absolute;
    text-align: center;
    inset: 0.5px;
    color:rgb(255, 171, 171);
    align-items: center;
    border: solid black 2px;
    font-family: Poppins;
    
}


.tile:hover {
    /* outline: rgb(255, 147, 147) solid 2px; */
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgb(255, 171, 171);
    border-radius: 10px;
    animation: pulse 3s linear infinite;
}

.createGame {
    position: relative;
    width: calc(13.5vw + 200px);
    height: 10%;
    z-index: 2;
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    color:rgb(255, 171, 171);
    font-family: Poppins;
    font-size: calc(0.2vw + 25px);
    border: none;
}

.createGame#matchmake {
    position: relative;
    width: calc(13.5vw + 200px);
    height: 10%;
    z-index: 2;
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    color:rgb(255, 171, 171);
    font-family: Poppins;
    font-size: calc(0.2vw + 25px);
    border: none;
}

.createGame:hover {
    position: relative;;
    z-index: 2;
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    color:rgb(255, 171, 171);
    font-family: Poppins;
    border: none;
    box-shadow: 0 0 0 2px rgb(255, 171, 171);
}

.gameForm {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: calc(3 * 125px);
    height: calc(125px);
    z-index: 2;
    /* background-color: rgb(20, 20, 20); */
    border-radius: 25px;
    color:rgb(255, 171, 171);
    font-family: Poppins;
    height: 50%;
    width: 50%;
    border: none;
    gap: 5%;
}

.gameForm label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(15vw + 175px);
    font-size: 25px;
}


.gameForm label input {
    width: 100%;
    height: 100%;
}

/* .gameForm input {
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
} */


.nameInput {
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
}

.nameInput.notFound {
    border-radius: 5px;
    outline: red solid 2px;
    box-shadow: none;
    border: 0;
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
    animation: shake 0.5s ease-in-out forwards;
}

.nameInput.notFoundv2 {
    border-radius: 5px;
    outline: red solid 2px;
    box-shadow: none;
    border: 0;
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.gameForm::placeholder {
    font-weight: 500;
    opacity: 0.2;
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
}

.gameForm button {
    font-size: 25px;
}





.mode {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: calc(3 * 125px);
    height: calc(125px);
    z-index: 2;
    /* background-color: rgb(20, 20, 20); */
    border-radius: 25px;
    color:rgb(255, 171, 171);
    font-family: Poppins;
    height: 50%;
    width: 50%;
    border: none;
    gap: 5%;
    opacity: 0;
    animation: uifadeIn 1s ease forwards 0.2s;
}

@keyframes uifadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  


.notify {
    position: relative;
    justify-self: left;
    left: 0%;
    font-size: 12px;
    width: 100%;
    height: 0px;
    color: red;
}

.queue {
    z-index: 0;
}



